[Unit]
Description=EcoSML Development Environment
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/opt/ecosml-webapp/docker/ecosml-dev
ExecStart=/usr/local/bin/docker compose -f /opt/ecosml-webapp/docker/ecosml-dev/docker compose.yml up
ExecStop=/usr/local/bin/docker compose -f /opt/ecosml-webapp/docker/ecosml-dev/docker compose.yml down
#Restart=always

[Install]
WantedBy=multi-user.target