[Unit]
Description=EcoSML Production Environment
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/opt/ecosml-webapp/docker/ecosml
ExecStart=/usr/bin/docker compose -f /opt/ecosml-webapp/devops/ecosml/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/ecosml-webapp/devops/ecosml/docker-compose.yml down
#Restart=always

[Install]
WantedBy=multi-user.target